nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 2rem;
  color: #fff;

  .links-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    ul {
      display: flex;
      margin-right: 4rem;

      li {
        list-style: none;
        margin: 0 1.5rem;
      }
    }

    .hamburger-btn {
      width: 100px;
      display: flex;
      justify-content: space-between;

      span {
        cursor: pointer;
      }

      .sticky {
        position: fixed;
        top: 2rem;
        right: 10vw;
      }
    }
  }
}
