.market-section {
  padding: 8rem 0rem;

  .h2-heading {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    letter-spacing: -2px;

    font-weight: 500;

    @include Pads() {
      font-size: 50px;
    }

    @include PadsPro() {
      font-size: 50px;
    }

    @include Laptops() {
      font-size: 50px;
    }

    @include HiDPI() {
      font-size: 50px;
    }
  }

  .number-counter {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 2rem 0;

    h5 {
      font-size: 30px;
      margin-right: 1rem;
      font-weight: 600;

      @include Pads() {
        font-size: 40px;
      }

      @include PadsPro() {
        font-size: 40px;
      }

      @include Laptops() {
        font-size: 40px;
      }

      @include HiDPI() {
        font-size: 40px;
      }
    }

    span {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 900;
      background: -webkit-linear-gradient(45deg, #f28c26b7, #f28c26fa, #101a25);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @include Pads() {
        font-size: 20px;
      }

      @include PadsPro() {
        font-size: 20px;
      }

      @include Laptops() {
        font-size: 20px;
      }

      @include HiDPI() {
        font-size: 20px;
      }
    }
  }

  p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #393e4278;
    letter-spacing: -1px;
    width: 350px;
    line-height: 24px;

    @include Pads() {
      font-size: 20px;
      width: 400px;
      line-height: 28px;
    }

    @include PadsPro() {
      font-size: 20px;
      width: 400px;
      line-height: 28px;
    }

    @include Laptops() {
      font-size: 20px;
      width: 500px;
      line-height: 28px;
    }

    @include HiDPI() {
      font-size: 20px;
      width: 500px;
      line-height: 28px;
    }

    span {
      font-weight: 500;
      color: #393e42;
    }
  }
}
