.hero {
  width: 100%;
  height: 100vh;
  position: relative;

  .hero-info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    p {
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      width: 250px;
      font-weight: 300;
      letter-spacing: -0.2px;
      line-height: 23px;
    }
  }
}
