footer {
  .footer-container {
    border-top: 1px solid #393e4236;
    border-bottom: 1px solid #393e4236;
    padding: 3rem 0;

    .normal-logo {
      position: relative;
      width: 150px;
      height: 50px;
    }

    p {
      padding: 4rem 0;
      font-size: 22px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      letter-spacing: -0.5px;
      width: 90%;
      line-height: 30px;
      color: #393e42;
    }

    a {
      font-size: 26px;
      font-family: 'Inter', sans-serif;
      letter-spacing: -1px;
      font-weight: 600;
      margin: 0.75rem 0;
      width: fit-content;
      color: #393e42;
      text-decoration: none;
      display: block;
    }

    .email {
      color: #f28c26;
      border-bottom: 1px solid #f28c2681;
    }

    .tele {
      color: #393e42;
    }

    .socials {
      display: flex;
      align-items: center;
      margin: 4rem 0 0rem;
      display: none;

      .s-icon {
        width: 40px;
        height: 40px;

        margin-right: 1.5rem;
      }

      .insta {
        background: url('./../public/Insta.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .face {
        background: url('./../public/face.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .copy-r {
    padding: 1rem 0;

    h6 {
      font-size: 14px;
      padding: 0.5rem 0;
      color: #393e42b0;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: -0.5px;
      font-weight: 400;
    }
  }
}
