.logo {
  height: 100px;
  width: 200px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  z-index: 100;
  top: 1.5rem;
  left: 5rem;
}
