nav {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .nav {
    .circle {
      background-color: #e5853b9c;
      border-radius: 50%;
      outline: none;
      transition: background 0.5s ease;
      z-index: 110;
      position: fixed;
      top: 1.2rem;
      right: 4%;
      width: 75px;
      height: 75px;
      display: grid;
      place-content: center;
      cursor: pointer;

      @include HiDPI() {
        right: 8%;
      }
    }

    .circle:hover {
      background-color: #e5853be3;
    }
  }

  .normal-logo {
    width: 200px;
    height: 90px;
    position: absolute;
    top: 0.6rem;
    left: 4%;

    @include HiDPI() {
      left: 8%;
    }
  }
}
