nav {
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .nav {
    .select-lang {
      position: absolute;
      top: 2.7rem;
      right: 25%;
      border: 1px solid white;
      border-radius: 10px;
      padding: 1rem;
      cursor: pointer;
      display: none;

      @include HiDPI() {
        right: 15%;
      }

      span {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #fff;
        letter-spacing: -0.4px;
        font-size: 18px;
        cursor: pointer;
      }
    }

    .circle {
      background-color: #e5853b9c;
      border-radius: 50%;
      outline: none;
      transition: background 0.5s ease;
      z-index: 110;
      position: fixed;
      top: 1.2rem;
      right: 4%;
      width: 50px;
      height: 50px;
      display: grid;
      place-content: center;
      cursor: pointer;

      @include Pads() {
        width: 75px;
        height: 75px;
      }

      @include PadsPro() {
        width: 75px;
        height: 75px;
      }

      @include Laptops() {
        width: 75px;
        height: 75px;
      }

      @include HiDPI() {
        right: 4%;
        width: 75px;
        height: 75px;
      }
    }

    .circle:hover {
      background-color: #e5853be3;
    }
  }

  .normal-logo {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 1rem;
    left: 4%;

    @include Pads() {
      width: 200px;
      height: 90px;
      top: 0.6rem;
    }

    @include PadsPro() {
      width: 200px;
      height: 90px;
      top: 0.6rem;
    }

    @include Laptops() {
      width: 200px;
      height: 90px;
      top: 0.6rem;
    }

    @include HiDPI() {
      left: 4%;
      width: 200px;
      height: 90px;
      top: 0.6rem;
    }
  }
}
