@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import './mediaquerry';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Globals

html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.h1-heading {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  letter-spacing: -2px;
  padding: 2rem 0;
  font-weight: 500;

  @include Pads() {
    font-size: 70px;
  }

  @include PadsPro() {
    font-size: 70px;
  }

  @include Laptops() {
    font-size: 70px;
  }

  @include HiDPI() {
    font-size: 70px;
  }
}

// O - nama Page
.o-nama-section {
  .o-nama-l {
    position: relative;
    height: 300px;
    width: 100%;
    margin: 1rem 0;

    @include Pads() {
      height: 500px;
    }

    @include PadsPro() {
      height: 600px;
    }

    @include Laptops() {
      height: 600px;
    }

    @include HiDPI() {
      height: 600px;
    }
  }

  .o-nama-r {
    @include PadsPro() {
      display: grid;
      grid-template-columns: repeat(2, 49.6%);
      grid-gap: 1%;
    }

    @include Laptops() {
      display: grid;
      grid-template-columns: repeat(2, 49.6%);
      grid-gap: 1%;
    }

    @include HiDPI() {
      display: grid;
      grid-template-columns: repeat(2, 49.6%);
      grid-gap: 1%;
    }

    .o-nama-r-top {
      position: relative;
      width: 100%;
      height: 200px;
      margin: 1rem 0;

      @include Pads() {
        height: 400px;
      }

      @include PadsPro() {
        height: 400px;
      }

      @include Laptops() {
        height: 400px;
      }

      @include HiDPI() {
        height: 400px;
      }
    }

    .o-nama-r-bot {
      position: relative;
      width: 100%;
      height: 200px;
      margin: 1rem 0;

      @include Pads() {
        height: 400px;
      }

      @include PadsPro() {
        height: 400px;
      }

      @include Laptops() {
        height: 400px;
      }

      @include HiDPI() {
        height: 400px;
      }
    }
  }
}

// Kontakt - Page
.kontakt-content {
  @include Pads() {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 1rem;
  }

  @include PadsPro() {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 2rem;
    justify-content: space-between;
  }

  @include Laptops() {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 2rem;
    justify-content: space-between;
  }

  @include HiDPI() {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 2rem;
    justify-content: space-between;
  }

  .box {
    margin-bottom: 8rem;
  }

  h6 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    letter-spacing: -1px;
    margin-bottom: 1rem;
    color: #393e42;
    font-weight: 800;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: #393e42;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  span {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    .icon {
      color: #f28c26;
      font-size: 24px;
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
      color: #393e42;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
    }

    .mail {
      color: #f28c26;
      border-bottom: 2px solid #f28c26;
      font-size: 22px;
    }
  }
}

.location {
  position: relative;
  width: 100%;
  height: 350px;

  @include PadsPro() {
    height: 50vh;
  }

  @include Laptops() {
    height: 600px;
  }

  @include HiDPI() {
    height: 600px;
  }
}

@import './../components/Dropback/dropback';
@import './../components/Sidemenu/sidemenu';
@import './../components/Logo/logo';

@import './../components/Nav/nav';
@import './../components/Hero/hero';
@import './../components/MarketSection/marketsection';

@import './../components/MobileSlider/mobileslider';
@import './../components/VideoSection/videosection';
@import './../components/Footer/footer';

@import './../components/Categories/categories';
@import './../components/CategoryHero/categoryhero';
@import './../components/Profili/profili';

@import './../components/Product/product';
