@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.h1-heading {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  letter-spacing: -2px;
  padding: 2rem 0;
  font-weight: 500;
}

.dropback {
  width: 100%;
  height: 100vh;
  background-color: #f28c26;
  opacity: 20%;
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.sidemenu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
}
.sidemenu .menu-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sidemenu .menu-container .normal-logo {
  position: absolute;
  top: 0;
  left: 0rem;
  width: 150px;
  height: 70px;
  border: none;
}
.sidemenu .menu-container .small-menu {
  padding: 0 3rem;
}
.sidemenu .menu-container .small-menu li {
  font-size: 40px;
  margin: 1rem 0;
  letter-spacing: -2px;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  list-style-type: none;
  color: #393e42;
}
.sidemenu .menu-container .large-menu {
  display: none;
}
.sidemenu .menu-container .menu-heading {
  margin-bottom: 1rem;
  color: rgba(57, 62, 66, 0.2431372549);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-weight: 300;
}
.sidemenu .menu-container .info {
  margin-top: 5rem;
  margin-bottom: 1rem;
}
.sidemenu .menu-container .info a {
  display: block;
  font-size: 18px;
  margin: 1rem 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-weight: 500;
}
.sidemenu .menu-container .info .email {
  color: #f28c26;
  border-bottom: 1px solid #f28c26;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.sidemenu .menu-container .info .phone {
  color: #393e42;
}

.logo {
  height: 100px;
  width: 200px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  z-index: 100;
  top: 1.5rem;
  left: 5rem;
}

nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
nav .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav .circle {
  background-color: rgba(229, 133, 59, 0.6117647059);
  border-radius: 50%;
  outline: none;
  transition: background 0.5s ease;
  z-index: 110;
  position: fixed;
  top: 0.8rem;
  right: 1rem;
}
nav .nav .circle:hover {
  background-color: rgba(229, 133, 59, 0.8901960784);
}
nav .normal-logo {
  position: relative;
  width: 150px;
  height: 70px;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero .hero-info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.hero .hero-info p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  width: 250px;
  font-weight: 300;
  letter-spacing: -0.2px;
  line-height: 23px;
}

.market-section {
  padding: 8rem 0;
}
.market-section .h2-heading {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: 400;
}
.market-section .number-counter {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin: 2rem 0;
}
.market-section .number-counter h5 {
  font-size: 30px;
  margin-right: 1rem;
  font-weight: 600;
}
.market-section .number-counter span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  background: -webkit-linear-gradient(45deg, rgba(242, 140, 38, 0.7176470588), rgba(242, 140, 38, 0.9803921569), #101a25);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.market-section p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(57, 62, 66, 0.4705882353);
  letter-spacing: -1px;
  width: 300px;
  line-height: 24px;
}
.market-section p span {
  font-weight: 500;
  color: #393e42;
}

.mobile-slider .slider-card {
  margin: 3rem 0;
}
.mobile-slider .slider-card .slider-img {
  position: relative;
  width: 100%;
  height: 250px;
}
.mobile-slider .slider-card .slider-info h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(57, 62, 66, 0.7176470588);
  font-weight: 200;
  margin: 1rem 0 0rem;
}
.mobile-slider .slider-card .slider-info h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: #393e42;
  margin: 1rem 0;
  font-weight: 500;
  letter-spacing: -1px;
}
.mobile-slider .slider-card .slider-info .btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #393e42;
  font-weight: 200;
  margin: 1rem 0 0.5rem;
}
.mobile-slider .slider-card .slider-info .underline {
  height: 1px;
  background-color: #393e42;
  width: 60px;
}

.video-section {
  width: 100%;
  height: 350px;
}
.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

footer .footer-container {
  border-top: 1px solid rgba(57, 62, 66, 0.2117647059);
  border-bottom: 1px solid rgba(57, 62, 66, 0.2117647059);
  padding: 3rem 0;
}
footer .footer-container .normal-logo {
  position: relative;
  width: 150px;
  height: 50px;
}
footer .footer-container p {
  padding: 4rem 0;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  width: 90%;
  line-height: 30px;
  color: #393e42;
}
footer .footer-container a {
  font-size: 26px;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  font-weight: 600;
  margin: 0.75rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #393e42;
  text-decoration: none;
}
footer .footer-container .email {
  color: #f28c26;
  border-bottom: 1px solid rgba(242, 140, 38, 0.5058823529);
}
footer .footer-container .tele {
  color: #393e42;
}
footer .footer-container .socials {
  display: flex;
  align-items: center;
  margin: 4rem 0 0rem;
  display: none;
}
footer .footer-container .socials .s-icon {
  width: 40px;
  height: 40px;
  margin-right: 1.5rem;
}
footer .footer-container .socials .insta {
  background: url("./../public/Insta.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-container .socials .face {
  background: url("./../public/face.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .copy-r {
  padding: 1rem 0;
}
footer .copy-r h6 {
  font-size: 14px;
  padding: 0.5rem 0;
  color: rgba(57, 62, 66, 0.6901960784);
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.5px;
  font-weight: 400;
}/*# sourceMappingURL=global.css.map */